@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
.page{
    background: rgb(52,73,94);
    min-height: 100vh;
    color: white;    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    background-attachment: fixed;
    background: linear-gradient(180deg, rgba(52,73,94,0.9) 0%, rgba(0,0,0,0.9) 25%, rgba(0,0,0,1) 75%, rgba(52,73,94,0.9) 100%);
}

.center{
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.w-25{
    width: 25% !important;
}
.login-con{
    display: flex;
    flex-direction: column;
    align-items: center;

    form{
        width: 330px !important;
    }

    img{
        width: 105px;
        height: 132px;
        margin-bottom: 1.8rem;
    }
}
.humedo-title{
    font-size: 38px;
    margin-bottom: 8rem;
}

.icon-input{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid #8D8F91E6;
    img{
       width: 22px;
       margin-bottom: 0;
       height: 22px; 
    }
    input{
        height: 30px;
        margin-left: 0.5rem;
        background-color: transparent;
        outline: none;
        border: none;
        color: white;
    }
}

.btn{
    background: transparent linear-gradient(90deg, #7EE8DBCC 0%, #3EBDAECC 28%, #02B4D0CC 77%, #00DCFFCF 100%) 0% 0% no-repeat padding-box;
border-radius: 14px;
border: none;
outline: none;    
color: white;
font-size: 24px;
font-weight: bold;
width: 100%;height: 45px;
cursor: pointer;
transition: .2s;
display: flex;
user-select: none !important;
align-items: center;
justify-content: center;

&:hover{
    background: transparent linear-gradient(-90deg, #7EE8DBCC 0%, #3EBDAECC 28%, #02B4D0CC 77%, #00DCFFCF 100%) 0% 0% no-repeat padding-box;

}
}

.btn-text{
    color: #FFFFFFE6;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 1rem;
    cursor: pointer;
    &:hover{
        opacity: 0.7;
    }
}
.register{
    width: 330px;

    img{
        margin-top: 1rem;
        width: 90px;
        height: 113px;
        margin: 2rem auto;
        display: block;
    }
}
.mini-header{
    display: flex;
    align-items: center;
    width: 100%;
    .burger{
        width: 44px;
        height: 44px;
        padding: 5px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        .line{
            height: 2px;
            background-color: #BBBBBBE6;
        }

        
    }

    .title{
        font-size: 24px;
        color: #FFFFFFBF;
        font-weight: 500;
        flex: 1;
        text-align: center;
    }
}

.text-center{
    text-align: center;
}

.register-form{
    display: flex;
    justify-content: space-between;
    form{
        width: 50%;
    }
    .sag{
        width: 45%;
    }

    form{
        label{
            font-size: 20px;    
            font-weight: 400;
            
        }


    }

    
}        input{
    margin-top: 0.3rem;
    margin-bottom: 0.8rem;
background: transparent !important;
width: 100%;
font-size: 18px;
border: none;
outline: none;
color: #FFFFFFB3;
    border-bottom: 1px solid #8D8F91E6;
}

.badge-btn{
    width: 100%;
    cursor: pointer;
}
.rt{
    font-size: 20px;
}
.badge-sari{
    color: #D6B559;
}

.badge-mavi{
    color: #03DAC5;
}
.badge{
    margin-top: 0.5rem;
    background: transparent linear-gradient(120deg, #434958 0%, #0D0F12C4 100%) 0% 0% no-repeat padding-box;
border: 1px solid #9B9B9B4F;
border-radius: 14px;
font-size: 14px;

height: 33px;
display: flex;
justify-content: center;
align-items: center;
}
.mt-10{
    margin-top: 4rem !important;
}
.mt-5{
    margin-top: 2rem !important;
}
.mt-3{
    margin-top: 1.5rem;
}

.mb-1{
    margin-bottom: 1rem;
}
.mt-1{
    margin-top: 1rem;
}

.mavi{
    color: #03DAC5E6;
}

.d-flex{
    display: flex;
    justify-content: space-between;
}
.swi-de{ text-align: center;
    .swi-rt{
        color: #FFFFFF99;        font-size: 14px;

    }
}
.swi{
    text-align: center;
    .swi-rt{
        font-size: 14px;
    }
}

.w-50{
    width: 50%;
}

.d-none{
    display: none;
}

.sp{
    background: transparent linear-gradient(134deg, #434958 0%, #0D0F12C4 100%) 0% 0% no-repeat padding-box;
border: 1px solid #9B9B9B4F;
border-radius: 14px;
}

.page-title{
    color:#FFFFFFBF;
    font-size: 24px;
}

.ov{
    width: 75%;
    max-width: 1100px;
}

.sari{
    color: #D6B559;
}

.block-self{
    align-self: unset !important;
}

.box-y-center{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    
}
.parlat{
    text-shadow: 0px 0px 18px #fff;

}
.overview-top{
    margin-top: 1rem;
    display: flex;
    .sol{
        width: 70%;
        /*box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;*/
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.5rem;
        .box{
            height: 154px;
            box-sizing: border-box;
            padding: 1.3rem;
            display: flex;

            &__title{
                align-self: flex-end;
                font-size: 24px;
            }

            &__sag{
                margin-left: auto;
                display: flex;
                flex-direction: column;
                .pil{
                    margin-left: auto;
                }
                justify-content: space-evenly;
            }

           
        }
    }
    .sag{
        width: 30%;
        box-sizing: border-box;
        
       
    }

    .info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        span{
            font-size: 18px ;
            color: #FFFFFFE6;
            margin-right: 0.4rem;
        }

        img{
            width: 18px;
            height: 18px;
        }
    }
}
.bg-white{
    background-color: white !important;
}
.pil{
    width: 20px;
    height: 10px;
    display: flex;
    align-items: center;        border-radius: 3px;

    &__sol{
        border-radius: 3px;
        background-color: #FFFFFF80;
        width: 80%;
        height: 100%;

        .cubuk{
            background-color: white;
            border-radius: 3px;

            height: 10px;
        }
    }

    &__sag{
        height: 5px;
        width: 3px;
        background-color: #FFFFFF80;

    }
}


.arc_header{
    display: none  !important;
}

.arc_view_weekdays{
    border-bottom: none !important;
}

.arc{
    background-color: transparent !important;
    border: none !important;
    font-family: "Roboto" , sans-serif!important;
    font-size: 16px !important;
}

.arc_view_cell_value button{
    color: #ADADAD !important;
}

.arc_view_weekdays_cell{
    color: #03DAC5 !important;
}

.arc_today button{
    background-color :#03DAC5 !important ;
    border-radius: 50% !important;
    color: white !important;
    border: none !important;
}

.arc_view_cell.arc_lr button{
    color: #00423B !important ;
}

.arc_view-days-of-month .arc_view_cell.arc_selected .arc_view_cell_value{
    background-color: transparent !important;
}

.arc_view-days-of-month .arc_view_cell.arc_selected .arc_view_cell_value{
    background-color: transparent !important;

}

.arc_view_weekdays{
    margin: 0 !important;
}

.takvim{

}

.overview-top .sag{
    padding: 1rem;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    align-items: center;
   height: 330px;
   max-width: 329px !important;

}

.takvim-copyright{
    color: #00423B;
    font-size: 14px;    position: relative;
    top: -28px;
    left: 10px;
}

.border-mavi{
        height: 3px;
        background-color: #03DAC5;border-radius: 60px;

}

.takvim-date{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size: 28px;
    text-align: center;letter-spacing: 0.50px;

    margin-bottom: 0.5rem;
}

.takvim-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 0.5rem;

    .calendar-title{
        font-size: 28px;
        font-weight: 700;
    }

    .day{
        letter-spacing: 0.22px;

    }
}

.chart-con{ display: flex;
    
    margin-top: 1rem;
    .sol{    font-family: 'Source Sans Pro', sans-serif;

        width: 69%;
        height: 356px;
        position: relative;
        .btn{
            position: absolute;
            width: 50%;
            left: 50%;
            top: 110%;
            transform: translate(-50%,50%);
        }
        &__header{
            display: flex;
            align-items: center;
            width: 50%;
            justify-content: space-between;
            padding: 0.5rem 2rem;

            .date{
                font-size: 28px;letter-spacing: 0.39px;
                color: #FFFFFF;
                text-transform: uppercase;
            }

            .temp{
                font-family: "Roboto",sans-serif;
                font-size: 23px;letter-spacing: 0.92px;

            }
        }
        canvas{
            position: absolute;
            left: -40px;
            height: 306px !important;
            bottom: -28px;
        }
        
        
    }

    .sag{
        margin-left: 1rem;
        display: grid;
        grid-gap: 0.9rem;
        grid-template-columns: 150px 150px;
        grid-template-rows: 165px 165px;
        width: 30%;
    }
}

.mini-box{
    padding: 0.8rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    img{
        width: 20px;
        height: 20px;
    }
    .title{
        font-size: 18px;
        font-family: "Roboto";
    }
    .min{
        font-size: 24px;
    }
}
.grid-1{
    grid-template-columns: 160px !important;
}
.jcenter{
    justify-content: center !important;
}
.w-100{
    width: 100% !important;
}
.stat-header{
    height:33px;
    display: flex;
    width: 63%;
    align-items: center;
    margin: 2rem 0;
        padding: 0 2rem;

        .pil{
            margin-left: auto;
        }
    span{
        font-size: 18px;
        
    }
}

.takvim-sakla{
    max-height: 0 !important;
    padding: 0 !important;
    border: none !important;
}

.p-relative{
    position: relative;
}
.tak{border: 1px solid #9B9B9B4F;
    border-radius: 14px;    width: 240px;
    padding: 2.5rem;    width: 240px;
    position: absolute;
    top: -231px;
    overflow: hidden;
    transition: .2s;
    left: -164px;box-shadow: 10px 10px 26px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 26px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 26px -5px rgba(0,0,0,0.75);
    
    background: transparent linear-gradient(156deg, #434958 0%, #0D0F1294 100%) 0% 0% no-repeat padding-box;
}

.w-40{
    width: 40%;
}
.ml-auto{
    margin-left: auto;
}
.w-70{
    width: 70%;
}

.edit-pilsensor{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .pil{
        margin-left: 0.5rem;
    }
}

.slider-container{
    &__flex{
        display: flex;
        justify-content: space-between;
        align-items: center;    height: 35px;
        .title{
            font-size: 18px;letter-spacing: 0.72px;

        }
        .val{
            display: flex;letter-spacing: 0.72px;

            font-size: 18px;
            align-items: center;
            img{
                width: 20px;
                height: 20px;
                margin-left: 0.5rem;
            }
        }
    }


    .min-max{letter-spacing: 0.56px;

        font-size: 14px;
        color: #FFFFFFB3;
    }


}

.MuiSlider-root{ 
    color: #03DAC5 !important;
}